html{ 
    font-size: 60%;
    background: white url(https://i.imgur.com/HWu44Bv.png)no-repeat center center fixed ;   
    background-size: cover;
}
body{ 
    font: 1.6rem sans-serif;
    margin: 0;

}
h1,h2,ol,p,{
    margin: 0;
    padding: 0;
    width: 100%; 
}
h1,h2{
    font-family: 'Zhi Mang Xing', cursive;

}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header,main{
    max-width: 80rem;
    border: O,1rem transparent;
    margin: 0 auto;
    background-color:  rgba(255,255,255,0.8);
}
header{
    margin: 2rem auto 0;
    padding: 0.5rem;
    text-align: center;
    border: .1rem transparent;
}
header h1::before{
    content: '\2605';
    color: red;
    vertical-align: .3rem;
    margin-right: .1rem;
}
main{
    padding: 0.5rem; 
    box-shadow: 0rem .5rem 0rem .5rem gray;

}
nav ol li{ 
    text-transform: capitalize;
    line-height: 2.5rem;
}
section h2,nav h2{ 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #2c91df;
    line-height: 4.5rem;
    text-transform: capitalize;
    box-shadow:0 .3rem 0 #ccc;
    padding: .5rem;
    font-size: 3.5rem;
}
section img{ 
    display: block;
    width: 100%;
}
section p{ 
    padding:0.5rem;
    line-height: 2.6rem;
    text-align: justify;
}
main footer{ 
    text-align: center;
    text-transform: capitalize;
    padding: 0.5rem;
}
h2{
    transition-property: background-color;
}
h2:target{
    background-color: red ;
    transition-timing-function: step-start;

}    

    






