html{
    font-size: 62.5%; /*16px * 62.5%= 1.00 */
    overflow-x: hidden;
}
body{
    font: 1.6rem sans-serif;
    margin: 0;
}
h1, h2, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 100;
}
*{ /* :*permet de adapter les padding etc et tout ce qui est en trop automatiquement*/
    box-sizing: border-box;
}
header *{
    background-color: #222222;
    color: #ffffff;
    line-height: 6rem;
    text-align: center;
    font-variant: small-caps;
}
main ul{
    max-width: 90rem;
    margin: 5rem auto 0;
    border: solid 0.1rem #ccc;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    padding: .1rem 0 0 0.1rem;
    flex-wrap: wrap;
}
main ul li img{
    display: block;
    width: 100%;
}
main ul li {
    flex-shrink: 0; /*autoriser les element plus petit*/
    flex-grow: 1; /*autorise a ajouter des element plus grands*/
    flex-basis: calc(100% / 3 - 1rem);
    margin: 0 1rem 1rem 0 ;
}
main ul li:nth-child(7){
   flex-basis: calc(100% / 1 - 1rem);
}
footer{
    display: grid;
    margin-top: 2rem;
    width: 100vw;/*1/100 d'ecranc en largeur*/
    overflow-x: hidden;
    min-height: 100vh;/*1/100 d'ecranc en hauteur*/
    background-color: #40636f;
}
footer *{
    color: #fff;
    text-align: center;
}
/*partie mobile  :  smarte phone et tapler */
@media screen and (max-width: 1024px){
    main ul{
        width: auto;
        flex-direction: column;
        margin: 0;
    }
    footer{
        margin: 0;
    }

}
@media screen and (orientation: landscap)